body{
    margin: 0em;
}
.cover{
    height: 400px;
    color: white;
    background-image: url("PORTADA.jpg");
    background-size: cover;
    background-position:center;
    background-color: rgba(0, 0, 0, 0.253);
    background-blend-mode: darken;
}
.cover-small{
    height: 200px;
    background-blend-mode: normal;
}
.card{
    border: 0 !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.1);
}
.card-tittle{
    min-height: 3rem;
}

.card-text{
    min-height: 5rem;
}
